<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <div>
      <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="!loggedIn" >Login</a>
      <a class="navbar-brand" href="#" (click)="logout($btnEvent)" *ngIf="loggedIn">Log Out</a>
      <a class="navbar-brand" [routerLink]="['/Profile']" routerLinkActive="router-link-active" >Profile</a>
  </div>
</nav>
