<div class="mt-4 col-8 offset-2">
    <div class="card">
      <div class="card-header">Update Product Details</div>
      <div class="card-body">
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
              <input type="text" name="ProductName" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.ProductName" required>
              <div class="alert alert-danger" [hidden]="!error.name">
                
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Product Price</label>
            <div class="col-sm-10">
              <input type="text" name="ProductPrice" class="form-control" id="UpdatePrice" placeholder="Email" [(ngModel)]="form.ProductPrice" required>
              <div class="alert alert-danger" [hidden]="!error.email">
               
              </div>
            </div>
          </div>

          

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Stock</label>
            <div class="col-sm-10">
              <input type="text" name="ProductStock" class="form-control" id="update Stock" placeholder="Password" [(ngModel)]="form.ProductStock"
                required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10 offset-2">


              <a routerLink="/Profile" class="btn btn-info float-right">Update</a>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

