<div>
  <table class="table">
    <tr>
      <th>S.no</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>RATING</th>
      <th>REVIEW</th>
      <th>OPTIONS</th>
    </tr>

    <tr *ngFor="let api of ArrayData">
      <td>{{ ArrayData.indexOf(api)+1 }}</td>
      <td>{{ api.name }}</td>
      <td>{{ api.price }}</td>
      <td>{{ api.rating }}</td>
      <td><a href="{{ api.href.link }}">SEE</a></td>
      <td><a href="{{ api.href.link }}"> EDIT </a> <a href="{{ api.href.link }}"> DELETE </a></td>
    </tr>
    <div class="footbar"></div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Navbar</a>
      <div>
        <a href="{{ PageLinks.first }}"> FIRST </a>
        <a href="{{ PageLinks.prev }}"> &lt;&lt; PREV  </a>
        <a href="{{ PageLinks.next }}"> NEXT &gt;&gt; </a>
        <a href="{{ PageLinks.last }}"> LAST </a>
      </div>
    </nav>
  </table>
</div>
